<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Dallas Fora</h1>
  </ion-header-bar>
  <ion-content>
    <div ui-sref="home">Home</div>
    <div class="list">
      <div class="item item-thumbnail-left" ng-click="upvote()">
        <img ng-src="{{stories[0].thumbnail}}" ng-if="stories[0].thumbnail.startsWith('http')"></img>
        <h2 class="story-title">{{stories[0].title}}</h2>
        <p>
          <span am-time-ago="story.created_utc" am-preprocess="unix"></span>
        </p>
        <p class=>Vote count: {{stories[0].ups}} </p>
      </div>
    </div>
    <div class="list">
      <div class="item" data-ng-repeat="comment in comments">
        <span ng-bind="comment.text"></span>
      </div>
    </div>
  </ion-content>
</ion-pane>
