<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Dallas Fora</h1>
  </ion-header-bar>
  <ion-content>
    <!--<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadNewerStories()">
    </ion-refresher>-->
    <!--<div ng-click="pushIssueToBitBucket()">TESTPUSH</div>
    <div ng-click="getEmotionFromWatson()">TestTone</div>-->
    <div class="list">
      <a class="item item-thumbnail-left"
         ui-sref="comments({id: story.id})" target="_blank" ng-repeat="story in stories track by story.id">
        <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')"></img>
        <h2 class="story-title">{{story.title}}
          <div class="face" ng-show="story.showAngerFace">
            <img src="assets/anger.png"/>
          </div>
          <div class="face" data-ng-show="story.showFearFace">
            <img src="assets/fear.png"/>
          </div>
          <div class="face" data-ng-show="story.showJoyFace">
            <img src="assets/joy.png"/>
          </div>
          <div class="face" ng-show="story.showSadFace">
            <img src="assets/sad.png"/>
          </div>
          <div class="face" ng-show="story.showDisgustFace">
            <img src="assets/disgust.png"/>
          </div>
        </h2>
        <p>
          <span am-time-ago="story.created_utc" am-preprocess="unix"></span>
        </p>
        <p>Vote count: {{story.ups}} </p>
      </a>
    </div>
    <!--<ion-infinite-scroll
      on-infinite="loadOlderStories()"
      distance="1%">
    </ion-infinite-scroll>-->
  </ion-content>
</ion-pane>
