/* Empty. Add your own CSS if you like */
h2.story-title {
    white-space: normal;
    height: 3.6em;
}

.face {
  width: 15px;
  height: 15px;
}


/* resize images */
.face img {
  width: 100%;
  height: auto;
}
